*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: start;
}


body {
    /*background: linear-gradient(to bottom, #11212D, #253745);*/
    background-color: #0280A6;
    font-family: Arial, Helvetica, sans-serif;
}

#LogoInicio {
    width: 4em;
}

#Title {
    color: aliceblue;
    text-shadow: 2px 2px black;
    font-size: 25px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {   /*Telas menores*/
    #CenterBlock {
        display: flex;
        margin-top: 10em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 300px;
        height: 250px;
        border-radius: 15%;
    }
}
/*ajuste*/
@media (min-width: 768px) {  /* Telas maiores */
    #CenterBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 600px;
        height: 500px;
        border-radius: 15%;
    }
}

/*CSS FOR REGISTER*/
#Register{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
}

#Register h1{
    margin-bottom: 0.5em;
}

#Register input{
    border-radius: 1em;
    border: gray solid 0.5px;
    margin-bottom: 1em;
    padding: 1em;
}

.msg {
    /* background-color: #28a745; */
    /* background-color: #dc3545; */
    margin-top: 1.5em;
    border-radius: 0.2em;
    padding: 0.5em;
    width: 80%;
    color: white;
    text-align: center;
    display: none;
}

.message-erro {
    background-color: #dc3545;
    margin-top: 1.5em;
    border-radius: 0.2em;
    padding: 0.5em;
    width: 80%;
    color: white;
    text-align: center;
    display: block;
}

.message-sucesso {
    background-color: #28a745;
    margin-top: 1.5em;
    border-radius: 0.2em;
    padding: 0.5em;
    width: 80%;
    color: white;
    text-align: center;
    display: block;
}

/* #Register .email {
    margin-bottom: 1em;
    padding: 1em;
}

#Register .pass {
    margin-bottom: 1.5em;
    padding: 1em;
} */

.RegisterButton {
    background-color: #02779b;
    border: none;
    border-radius: 1em;
    padding: 0.8em 0.5em;
    width: 100px;
    color: white;
}

.RegisterButton:hover {
    background-color: #015e7a;
}

#Register footer {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 3em;
}

#Register footer a {
    color: black;
    text-decoration: none;
}

#Register footer a:hover {
    color: #015e7a;
}