*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: start;
}


body {
    /*background: linear-gradient(to bottom, #11212D, #253745);*/
    background-color: #0280A6;
    font-family: Arial, Helvetica, sans-serif;
}

#LogoInicio {
    width: 4em;
}

#Title {
    color: aliceblue;
    text-shadow: 2px 2px black;
    font-size: 25px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {   /*Telas menores*/
    #CenterBlock {
        display: flex;
        margin-top: 10em;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: white;
        width: 300px;
        height: 350px;
        border-radius: 2em;
    }

    .InsideContent {
        margin-left: 0.8em;
    }

    .InsideContent input {
        
        width: 50%;
    }

    .InsideContent button {
        margin: 0;
        height: fit-content;
    }

    .InsideContent ul {
        margin-left: 1.5em;
    }


}
/*ajuste*/
@media (min-width: 768px) {  /* Telas maiores */
    #CenterBlock {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: white;
        width: 600px;
        height: 500px;
        border-radius: 15%;

    }
}


#CenterBlock header {
    margin-top: 5px;
    font-size: 0.8em;
}

.InsideContent {
    display: flex;
    flex-direction: column;
    align-items: start;
}


.InsideContent input {
    font-size: 15px;
    margin-top: 2em;
    padding: 0.5em;
    border-radius: 0.8em;
    border: 1px solid gray;
    margin-right: 0.5em;
}

.InsideContent button {
    padding: 0.7em;
    border-radius: 0.8em;
    border: 1px solid gray;
}

.InsideContent button:hover {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
}

.InsideContent button:active {
    background-color: #0280A6;
    color: white;
    
}

.InsideContent ul {
    margin-top: 1em;
}

.InsideContent ul li {
    margin-top: 1em;
}